.title
  width: 100%
  display: flex
  justify-content: center
  align-items: baseline
  margin-bottom: 1em
  background-color: black


  color: #fff

  h1
    font-size: 40px
    color: white
    font-family: 'Permanent Marker', cursive
